<style media="screen">
    #full-page {
      text-indent: 10px;
    }
    #top {
      background-color: teal;
      height: 90px;
    }
    #title {
      line-height: 50px;
      color: lightblue;
      font-family: tahoma;
      letter-spacing: 2px;
    }
    #subtitle {
      color: lightblue;
      line-height: 1px;
      font-family: tahoma;
      letter-spacing: 2px;
    }
    #points-1 {
      text-indent: 20px;
    }
    #edu {
      color: navy;
    }
    #exp {
      color: navy;
    }
    #cont {
      color: navy;
    }
    #pt-1 {
      color: teal;
    }
    #pt-2 {
      color: teal;
    }
    #pt-3 {
      color: teal;
    }
  </style>
  <body>
    <div id='full-page'>

    <div id='top'>
      <div id='title'>
        <h1>Maddy Leadbetter</h1>
      </div>
      <div id='subtitle'>
        <h3>BA of Computer Science, University of Waterloo</h3>
      </div>
    </div>

    <ul>
      <li>
        experience with C, C++, Racket, Java, Bash script
      </li>
      <li>
        working knowledge of QA process
      </li>
    </ul>

    <div id='sub-1'>
      <div id='edu'>
        <h3><b>Education:</b></h3>
      </div>
      <ul type="square">
        <li>finished 2A term</li>
        <li>enrolled in co-op program</li>
        <li>GPA:</li>
      </ul>
    </div>

    <div id='sub-2'>
      <div id='exp'>
        <h3><b>Experience:</b></h3>
      </div>
      <ul type="square">
        <li>
          <div id='pt-1'>
            <h4><i>Influitive</i>:</h4>
          </div>
          <ul>
            <li>Quality Assurance Intern</li>
            <li>Jan. 2017 - Apr. 2017 co-op term</li>
            <li>worked with development team to test software and
            ensure quality of product</li>
          </ul>
        </li>
        <li>
          <div id='pt-2'>
            <h4><i>Dairee Delite</i>:</h4>
          </div>
          <ul>
            <li>Server/Cashier/Food Preparation</li>
            <li>Aug. 2014 - current</li>
            <li>managed multiple duties including cleaning, food preparation, serving, cash, and customer support</li>
          </ul>
        </li>
        <li>
          <div id='pt-3'>
            <h4><i>Kids Can Fly: Storybook Breakfast</i>:</h4>
          </div>
          <ul>
            <li>Volunteer position</li>
            <li>February (2014-2017)</li>
            <li>interacted with kids to promote early education and children's literacy</li>
          </ul>
        </li>
      </div>

      <div id='sub-3'>
        <div id='cont'>
            <h3><b>Contact Info:</b></h3>
        </div>
        <ul type="square">
          <li>Cell Phone: 519-754-7033</li>
          <li>Email: maddyleadbetter@rogers.com</li>
        </ul>
        <img src="http://bestanimations.com/Electronics/Telephony/retro-phone-gif-12.gif" alt="You can't see my funny gif sorry">
        <a href="#page1">Contacts</a>
      </div>
  </body>
