<html>
<style media="screen">
  #title {
    color: teal;
  }
  info {

  }
</style>

<body>
  <div id='title'>
    <h1>Contacts</h1>
  </div>
  <img src="http://bestanimations.com/Electronics/Telephony/retro-phone-gif-12.gif"
        alt="You can't see my funny gif sorry">
  <div id='info'>
    Contact me at:
    <ul type="square">
      <li>Cell Phone: 519-754-7033</li>
      <li>Email: maddyleadbetter@rogers.com</li>
    </ul>
  </div>
</body>

</html>
